@import './../../theme.scss';

a{
    color: blue;
    cursor: pointer;
}

.auth-view {
    width: 410px;
    border-radius: 5px;
    overflow: hidden;

    .tabs {
        width: 100%;
        display: flex;

        .tab-button {
            width: 100%;
            display: flex;
            align-content: center;
            align-items: center;
            padding: 10px;
            background-color: $lightest-gray;
            cursor: pointer;

            &.sellected {
                background-color: $white-color;
            }
        }
    }

    .formswitch{
        text-align: center;
    }
}

