//colors

$black-color: #000000;
$red-color: #e63946;
$green-color: #0dac3d;
$white-color: #ffffff;
$light-blue-color: #a8dadc;
$medium-blue-color: #1e9aec;
$dark-blue-color: #1d3557;
$lightest-gray: #eeeeee;
$lighter-gray: #cccccc;
$light-gray: #aaaaaa;


